HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Frontend URL where preview route is hosted
CLIENT_URL=https://pickleballcup.com

# Must match frontend PREVIEW_SECRET
PREVIEW_SECRET=tobemodified
